/* image*/
.image {
    background-image: url(https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80);
    height: 800px;
    width: 300px;
    margin-top: 5%;
}

#Home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 100px;
    background: rgb(233,233,233);
        background: linear-gradient(90deg, rgba(233,233,233,0.30155812324929976) 0%, rgba(18,116,108,0.5) 84%, rgb(144, 198, 193, 0.5) 99%);
}

/* text and name*/
.Name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.Name1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: right;
    margin-top: 200px;
}

h1 {
    font-size: 90px;
}

/*hr lines*/
hr {
    background-color: rgb(20, 33, 61, 1);
    border: black ;
    width: 100%;
    height: 1px;
    text-align: center;
    animation: index-item1 6s forwards;
    animation-delay: calc(.1s * var(--i));
    animation-iteration-count: 1;
    z-index: 2;
    margin-left: 15px;
}

.intro-name {
    font-size: 25px;
}

@keyframes index-item1 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);

    }
}

.hr {
    background-color: rgb(20, 33, 61, 1);
    color: white;
    width: 100%;
    height: 4px;
    text-align: center;
    animation: hr 6s forwards;
    animation-delay: calc(.1s * var(--i));
    animation-iteration-count: 1;
    z-index: 2;
    margin-right: 25px;
}

@keyframes hr {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
        opacity: 0;

    }
}


/*flower*/

.flower {
    margin-left: -200px;
    margin-bottom: 30px;
}

.flower1 {
    margin-left: -120px;
    margin-bottom: -50px;
}

.flower4 {
    margin-top: -50px;
}

.flower5 {
    margin-top: -70px;
}

.flower6 {
    margin-left: 50px;
    margin-top: -90px;
}

@media only screen and (max-width: 768px){
    /* image*/
.image {
    background-image: url(https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80);
    height: 300px;
    width: 100px;
    background-size: 360%;
    background-repeat: no-repeat;
    margin-top: 200px;
}

#Home {
    background: rgb(233,233,233);
     background: linear-gradient(90deg, rgba(233,233,233,0.30155812324929976) 0%, rgba(18,116,108,0.5) 84%, rgb(144, 198, 193, 0.5) 99%);
     max-height: 600px;
}

/* text and name*/
.Name {
    margin-top: -50px;
}

.Name1 {
    text-align: right;
    margin-top: 100px;
    margin-right: 10px;
}

h1 {
    font-size: 30px;
}

/*hr lines*/
hr {
    background-color: rgb(20, 33, 61, 1);
    border: black ;
    width: 80%;
    height: 1px;
    text-align: center;
    animation: index-item1 6s forwards;
    animation-delay: calc(.1s * var(--i));
    animation-iteration-count: 1;
    z-index: 2;
    margin-left: 15px;
}

.intro-name {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    
}

@keyframes index-item1 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);

    }
}

.hr {
    background-color: rgb(20, 33, 61, 1);
    color: white;
    width: 100%;
    height: 4px;
    text-align: center;
    animation: hr 6s forwards;
    animation-delay: calc(.1s * var(--i));
    animation-iteration-count: 1;
    z-index: 2;
    margin-right: 25px;
}

@keyframes hr {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
        opacity: 0;

    }
}


/*flower*/

.flower {
    width: 60px;
    height: 60px;
    margin-left: -20px;
    margin-bottom: 20px;
}

.flower1 {
    width: 60px;
    height: 60px;
    margin-left: -10px;
    margin-bottom: -20px;
}

.flower4 {
    width: 40px;
    height: 50px;
    margin-top: -10px;
}

.flower5 {
    width: 50px;
    height: 50px;
    margin-top: -20px;
}

.flower6 {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: -30px;
}
}

